/* Navbar */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  
  
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s;
}

.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 35px;
}

.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
  color: lightgreen;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: lightgreen;
}

/* Responsive navbar */
@media (max-width: 992px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 75px;
    left: 0;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: row;
    padding: 15px 5%;
  }

  .logo {
    margin-bottom: 0;
  }
}
