@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  /* Prevent double-tap zoom */
  touch-action: manipulation;

  /* Prevent pinch-zoom */
  touch-action: pan-x pan-y;
}

html,
body {
  background: black;
  color: white;
  overflow-x: hidden;
  width: 100%;
  touch-action: manipulation;
  -ms-content-zooming: none; 
  overscroll-behavior: contain;
}

a {
  color: white;
  text-decoration: none;
}

/* Navbar */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  background: #333;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;

  /* Prevent zoom when double-tapping */
  touch-action: manipulation;
}

.navbar .logo {
  font-size: 20px;
  font-weight: 1000;
}


.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 25px;
}

.navbar ul li a {
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}
.navbar ul li a .logo a:hover{
  color: green;
}

.navbar ul li:hover a,
.navbar ul li.active a {
  color: blue;
}

/* Menu Toggle */
.menu-toggle {
  display: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
  z-index: 300;
}

/* Responsive */
@media (max-width: 992px) {
  .navbar ul {
    position: fixed;
    top: 0;
    right: -100%;
    height: 400px;
    width: 50%;
    background: lightblue;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    transition: right 0.3s ease-in-out;
  }

  .navbar ul.active {
    right: 0;
  }

  .navbar ul li {
    margin: 20px 0;
  }

  .navbar ul li a {
    font-size: 18px;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 15px 5%;
  }

  .navbar ul {
    width: 80%;
  }

  .navbar .logo {
    font-size: 20px;
  }
}
